@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700");
:root {
  --header-bg: rgb(255 224 171);
  --header-color: black;
  --main-bg: white;
  --operators-bg: rgb(255 189 77);
  --operators-bg-hover: rgba(255, 189, 77, 0.7);
  --all-btn-bg: white;
  --all-btn-hover: #cdcdcd;
  --body-bg: #f0ffff;
  --box-shadow: 10px 10px 48px #97a1a1, -10px -10px 48px #ffffff;
  --label-text: #111;
  --opacity-level: 0.2;
}

[data-theme="dark"] {
  --header-bg: #111;
  --header-color: white;
  --main-bg: rgb(192, 187, 187);
  --operators-bg: rgb(114, 112, 112);
  --operators-bg-hover: rgb(65 59 59 / 24%);
  --all-btn-bg: rgb(192, 187, 187);
  --all-btn-hover: lightgrey;
  --body-bg: #333;
  --box-shadow: 10px 10px 48px #232323, -10px -10px 48px #23222085;
  --label-text: #fff;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: "Roboto Mono";
  background: var(--body-bg);
}

#calculator {
  margin: auto;
  width: 336px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

#operator-icons {
  display: flex;
  justify-content: space-between;
  margin-right: 10em;
}

#plus,
#minus,
#times,
#divide {
  transition: 0.2s;
  opacity: var(--opacity-level);
}

header {
  padding: 20px;
  background: var(--header-bg);
  color: var(--header-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: right;
  height: 80px;
}

header #detail {
  font-size: 1em;
}

header #current {
  font-size: 2em;
}

#keys {
  height: 100%;
  background: var(--main-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
}

#keys .operators {
  background-color: var(--operators-bg);
  margin-top: 2px;
}

#keys .operators:hover {
  background-color: var(--operators-bg-hover);
}

#keys .numbers,
#keys .evaluate,
#keys .decimal {
  margin-top: 2px;
}

#keys #all-clear,
#keys #delete,
#keys #plus-minus,
#keys #percent {
  width: 25%;
  margin-top: 2px;
}

#keys button {
  font-size: 1.2em;
  font-family: "Roboto Mono";
  float: left;
  width: 25%;
  border: 0;
  padding: 1em;
  cursor: pointer;
  background: var(--all-btn-bg);
}

#keys button:hover {
  background: var(--all-btn-hover);
  transition: 0.4s all;
}

#keys button:focus {
  outline: none;
}

#keys button:active {
  box-shadow: 0 0 10px #cdcdcd;
}

/* switch button  */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin: auto;
  margin-top: 15vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.switch_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.toggle_switch {
  width: 100px;
  height: 45px;
  position: relative;
}

input[type="checkbox"].switch_3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring {
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  -webkit-animation: resetRing 0.35s ease-in-out forwards;
  animation: resetRing 0.35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .outer-ring {
  -webkit-animation: animateRing 0.35s ease-in-out forwards;
  animation: animateRing 0.35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_checked {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0deg);
  transform: translateX(0) rotate(0deg);
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_unchecked {
  opacity: 0;
  -webkit-transform: translateX(-200%) rotate(180deg);
  transform: translateX(-200%) rotate(180deg);
}

svg.checkbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.checkbox .is_checked {
  opacity: 0;
  fill: var(--operators-bg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateX(200%) rotate(45deg);
  transform: translateX(200%) rotate(45deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

svg.checkbox .is_unchecked {
  opacity: 1;
  fill: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateX(0) rotate(0deg);
  transform: translateX(0) rotate(0deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

@-webkit-keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: var(--header-color);
  }
}

@keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: var(--header-color);
  }
}

@-webkit-keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: var(--main-bg);
  }
}

@keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: var(--main-bg);
  }
}
